icon(name)
	background: url("../../images/icons/"name".png")

#app 
	.goog-toolbar
		background-image: url("../../../bower_components/closure-library/closure/goog/images/toolbar-bg.png")				
		.icon
			width: 16px
			height: @width
			//display: block
			//margin: 5px auto
			//border: 2px outset
			cursor: active
			&:hover
				cursor: pointer
			&.active
				border-style: inset
		.show-intro
			icon 'intro'
		.create-table
			icon 'table'
		.create-rel-ident
			icon 'rel-ident'
		.create-rel-non-ident
			icon 'rel-noident'
		.generate-sql
			icon 'sql'
		.save-model
			icon 'save'
		.load-model
			icon 'load'
		.export-model
			icon 'export'
		.version-model
			icon 'version'
		.statusbar
			height: 26px
			line-height: @height
			font-size: 16px
			font-weight: bold
			position: absolute
			right: 5px
			.model-saved
				margin-right: 10px				
			.model-name
				margin-right: 20px
				font-style: italic
				cursor: text
