.list-item
	display: block
	margin: 5px
	padding: 5px
	border: 1px outset
	border-radius: 5px
	background-color: #efefef
	cursor: pointer
	&:active
		border-style: insert
		background-color: darken(@background-color, 30%)