doctype html
html
	head
		title Select database to work with
	body
		h1 List of databases

		form(action='/modeler',method='post')
			select(name='dbs')
				each db in dbs
					option(value=db.id)= db.title

			input(type='submit', value='selectdb')
