doctype html
html
	head
		title= title
		block styles
		block scripts
	body
		div#app
			div#modelerCanvas

			// dialog placeholder elements
			div#introDialog
			div#selectDbDialog
			div#tableDialog
			div#relationDialog
			div#loadModelDialog
			div#sqlCodeDialog
			div#reengDialog
			div#inputDialog

			// canvas contextmenu
			div#canvasmenu
		script!= javascript

		block content

		block footer
			div#footer
				small
					| &copy; horaklukas - 
					a(href="http://github/horaklukas/modeler", target="_blank") source 
					| - v#{version}
				