doctype html
html
	head
		title= title
		meta(charset="utf-8")
		block styles
		block scripts
	body
		block content
			div#app
				div#modelerCanvas

				// dialog placeholder elements
				div#introDialog
				div#selectDbDialog
				div#tableDialog
				div#relationDialog
				div#loadModelDialog
				div#sqlCodeDialog
				div#reengDialog
				div#inputDialog
				div#infoDialog
				div#versionDialog

				// canvas contextmenu
				div#canvasmenu
			script!= javascript

		block footer
			div#footer
				small
					| &copy; horaklukas - 
					a(href="http://github.com/horaklukas/modeler", target="_blank") source 
					| - v#{version}
				