doctype 5
html
	head
		title= title
		link(rel="stylesheet", type="text/css", href="/styles/main.css")
		script(src="/socket.io/socket.io.js")
		script(src="/scripts/lib/raphael.min.js")
		script(src="/scripts/lib/jquery.min.js")
		script(src="/scripts/lib/closure/goog/base.js")
		script(src="/scripts/app-deps.js")
	body
		div#app
			div#controlPanel
				button.icon.tool(name="createTable")
				button.icon.tool(name="createRelation")
			div#modelerCanvas

		script
			goog.require('dm');
		script
			window.DB = {types: "#{types}".split(',')};	
			dm.init()