extends ./layout

block append styles
	link(rel="stylesheet", type="text/css", href="/public/styles/dm.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/common.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/dialog.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/toolbar.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/button.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/menu.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/menuitem.css")
	link(rel="stylesheet", type="text/css", href="/bower_components/closure-library/closure/goog/css/menuseparator.css")
block append scripts
	script(src="http://localhost:35729/livereload.js")
	script(src="/socket.io/socket.io.js")
	script(src="/bower_components/react/react.js")
	script(src="/bower_components/closure-library/closure/goog/base.js")
	script(src="/public/scripts/dm/deps.js")

block append content
	script.
		goog.require('dm');
		
	//script(src="/public/scripts/dm/test-data.js")
				