div.dialog
	label Logical name:
	input(name="logical_name")

	label Physical name:
	input(name="physical_name")

	div#columns_list
		div.column
			div
				input(type='text',name='name')
			div
				select(name='type')
					each type in types
						option(value=type)= type
			div
				checkbox.pkey