div#createTable.dialog
	names = {/*'logical': 'Logical',*/ 'physical': 'Physical' }
	for label, id in names
		div.row
			span: label #{label} name:
			span: input(name="#{id}_name")
	
	strong Columns

	div#columns_list
		div.row.head
			span Name
			span Type
			span PK
			span Del
		div.row
			span: input(type='text',name='name')
			span
				select(name='type')
					each type in types
						option(value=type)= type
			span: input(type='checkbox').pkey
			span: button D

	button.ok OK
	button.cancel CANCEL