.table
	position: absolute
	min-width: 100px
	min-height: 80px
	border: 1px solid black
	user-select: none
	&.move
		opacity: 0.5
		cursor: move !important
	.head
		box-model: inherit, 20px, 0, 0
		no-border()
		background-color: #CCC