// production styles with google closure library styles included
@import 'main'

@require '../../bower_components/closure-library/closure/goog/css/common.css'
@require '../../bower_components/closure-library/closure/goog/css/dialog.css'
@require '../../bower_components/closure-library/closure/goog/css/toolbar.css'
@require '../../bower_components/closure-library/closure/goog/css/button.css'