@import 'utils/mixins'

#app
	width: 95%
	height: 94%
	margin: 2% auto
	border: 1px solid black

#modelerCanvas
	position: relative
	margin-right: 25px
	height:100%
	//width: 80%
	//background-color: #AAA

@import 'ui/controlPanel'
@import 'model/table'
@import 'dialogs/dialog'
@import 'dialogs/createTable'