#app{width:95%;height:94%;margin:2% auto;border:1px solid #000}
#modelerCanvas{position:relative;margin-right:25px;height:100%}
#controlPanel{width:24px;height:100%;float:right;border-left:1px solid #000;background-color:#eee;}
#controlPanel .icon{width:20px;height:20px;display:block;margin:5px auto;border:2px outset;cursor:active;}
#controlPanel .icon:hover{cursor:pointer}
#controlPanel .icon.active{border-style:inset}
#controlPanel .icon[name=createTable]{background:url("./images/icons/table.png")}
#controlPanel .icon[name=createRelation]{background:url("./images/icons/relationship.png")}
.table{position:absolute;min-width:100px;min-height:80px;border:1px solid #000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.table.move{opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";cursor:move !important}
.table .head{display:block;width:inherit;height:20px;margin:0;padding:0;border:0;outline:0;background-color:#ccc}
.modal-dialog{background:#c1d9ff;border:1px solid #3a5774;color:#000;padding:4px;position:absolute}
a a:link,a a:visited{color:#06c;cursor:pointer}
.modal-dialog-bg{background:#666;left:0;position:absolute;top:0}
.modal-dialog-title{background:#e0edfe;color:#000;cursor:pointer;font-size:120%;font-weight:bold;padding:8px 31px 8px 8px;position:relative;_zoom:1;}
.modal-dialog-title-close{background:#e0edfe url("//ssl.gstatic.com/editor/editortoolbar.png") no-repeat -528px 0;cursor:default;height:15px;position:absolute;right:10px;top:8px;width:15px;vertical-align:middle}
.modal-dialog-buttons,.modal-dialog-content{background-color:#fff;padding:8px}
.modal-dialog-content .row{display:table-row;}
.modal-dialog-content .row.head{background-color:#ccc}
.modal-dialog-content .row > span{display:table-cell;text-align:center}
.goog-buttonset-default{font-weight:bold}
#columns_list{display:table}
